<%= content_for :title, 'Home' %>

<header>
    <h1>Codefork</h1>

    <% if user_signed_in? %>
        Hello <%= current_user.username %>. <%= link_to 'Sign out.', logout_path %>
        <p>
            <a href="<%= new_document_path %>" class="button button-large">
                <i class="icon-edit"></i> Create a new post
            </a>
        </p>
    <% else %>
        <p>
            <a href="/auth/github" class="button button-large">
                <i class="icon-github"></i> Sign in with Github
            </a>
        </p>
    <% end %>
</header>

<h3>Recent posts</h3>
<ul class="document-list">
    <%= render @documents %>
</ul>