<% if @document.errors.any? %>
    <%= content_for :errors do %>
        <% for message in @document.errors.full_messages %>
            <li><%= message %></li>
        <% end %>
    <% end %>
<% end %>

<%= content_for :menu do %>
    <%= form_for @document do |f| %>
        <%= f.text_field :name, autofocus: true, placeholder: 'Name' %>
        <%= f.select :language, '<option>Select language</option>' %>
        <%= f.text_area :content %>
        <%= f.submit %>
    <% end %>
<% end %>

<% if @document %>
    <script>var document = JSON.parse('<%= @document.to_json.html_safe %>');</script>
<% end %>