<%= content_for :errors do %>
    <% if @document.errors.any? %>
        <% for message in @document.errors.full_messages %>
            <li class='error'><%= message %></li>
        <% end %>
    <% end %>
<% end %>

<%= content_for :menu do %>
    <%= form_for @document do |f| %>
        <%= f.text_field :name, autofocus: true, placeholder: 'Name' %>
        <%= f.select :language, '<option>Select language</option>' %>
        <%= f.text_area :content, hidden: true %>
        <%= f.submit %>
    <% end %>
<% end %>