<!DOCTYPE html>
<html>
<head>
    <title><%= yield :title %> / Codefork</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/flashes' %>

<div class="container">
    <%= yield %>
</div>

<script>
    var App = {
        controller: '<%= controller_name %>',
        action: '<%= action_name %>'
    }

    console.log(App);

<% if @document %>
    var DOCUMENT_LANG = '<%= @document.language %>';
<% end %>
</script>
</body>
</html>